$breakpoint-phone: 767px;

$white-color: #FFF;
$dark-color: #1E1E1E;
$orange-color: #FE5E41;
$border-color: #DEDEDE;
$green-color: #00A878;
$black-color: #000;
$light-color: #F2F2F2;

.wrapper {

  .navbarWrapper {

    .navbar {
      background-color: $orange-color !important;
      padding: 0;

      .container-fluid {
        padding: 0;

        .navbar-toggler {
          border: none;
          color: #fff;
        }
        .navbar-toggler:focus {
          box-shadow: none;
        }

        .navbar-brand {
          padding: 2.5rem 3.75rem 2.5rem 6.875rem;
          margin: 0;

          img {
            max-width: 9.375rem;
            max-height: 2.5rem;
          }
        }

        .navWrap {
          width: 100%;
          display: flex;
          flex-direction: row-reverse;

          .navbar-collapse {
            .navbar-nav {
              margin-right: 2.5rem !important;
    
              .nav-link {
                color: $white-color;
                font-size: 1.125rem;
                font-weight: 600;
                padding: 1.25rem;
              }
              .nav-link:hover {
                color: $black-color;
              }
              .nav-link.active {
                color: $black-color;
              }
            }
  
            .input-group {
              max-width: 16rem;
              max-height: 3.5rem;
  
              input {
                border: none;
                border-top-left-radius: 0.25rem;
                border-bottom-left-radius: 0;
                background-color: $light-color;
                padding: 1rem;
              }
              input:focus {
                box-shadow: none;
              }
  
              span {
                border: none;
                border-top-right-radius: 0.25rem;
                border-bottom-right-radius: 0;
                background-color: $light-color;
              }
            }
          }
  
          .navbarButtonsWrapper {
            display: flex;
            align-items: center;

            .navbarButtons {
              padding-right: 6.875rem;
              display: flex;
              align-items: center;
    
              a {
                padding: 0.75rem;
                text-decoration: none;
              }
            }
          }
        }
      }

      @media screen and (max-width: $breakpoint-phone) {
        .container-fluid {
          justify-content: flex-start;

          .navbar-toggler {
            padding-left: 1.5rem;
            z-index: 999;
          }
          
          .navbar-brand {
            padding: 1.25rem 3.5rem 1.25rem 1rem;

            img {
              max-width: 6.25rem;
              max-height: 1.75rem;
            }
          }

          .input-group {
            max-width: 100% !important;
            margin: 0 1rem;

          }

          .navWrap {
            flex-direction: column;
            width: 100%;
            padding-bottom: 0.5rem;

            .navbarButtonsWrapper {
              display: flex;
              justify-content: flex-end;

              .navbarButtons {
                padding-right: 0;
                display: flex;
                justify-content: flex-end;
                width: fit-content;
                margin-top: -4.2rem;
              }
            }
          }
        }
      }
      @media screen and (min-width: 1920px) {
        .navbar-collapse {
          display: flex;
          justify-content: space-between;

          form {
            margin-right: 5rem;
          }
        }
      }
    }
  }

  .contentWrapper {

    nav {
      padding: 2.5rem 6.875rem 0 6.875rem;

      ol {
        margin: 0;

        a {
          color: $dark-color;
          text-decoration: none;
          font-size: 0.813rem;
          font-weight: 400;
        }
      }
    }

    .productWrapper {
      padding: 0 6.875rem;

      .productHead {
        display: flex;
        justify-content: space-between;
        padding-bottom: 3.125rem;

        h3 {
          font-size: 2.5rem;
          font-weight: 600;
          color: #1E1E1E;
        }

        .productActions {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            padding: 0.625rem;
          }
        }
      }

      .productInfo {
        display: flex;
        justify-content: space-between;

        .productImages {
          width: 58%;
          
          button {
            width: 3.5rem;

            .carousel-arrow {
              width: 3.5rem;
              height: 3.5rem;
              background-color: $light-color;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        .productDetails {
          background-color: $light-color;
          width: 40%;
          padding: 2rem;

          h4 {
            color: $black-color;
            font-size: 1rem;
            font-weight: 600;
            margin: 0;

            span {
              color: $orange-color;
            }
          }

          p {
            font-size: 1rem;
            font-weight: 400;
            padding: 1.5rem 0;
            margin: 0;
          }

          .productDropdowns {
            display: flex;
            justify-content: space-between;

            .dropdown {
              width: 100%;

              a {
                width: 95%;
                height: 3.5rem;
                background-color: $white-color;
                color: #1E1E1E;
                border-radius: 0.25rem 0.25rem 0px 0px;
                border: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              .dropdown-menu {
                width: 95%;

                a:hover {
                  color: $white-color;
                  background-color: $green-color;
                }
              }
            }
            #dropdown2 {
              display: flex;
              justify-content: flex-end;
            }
          }

          .productOptions {
            padding: 1.5rem 0;

            .form-check-input {
              box-shadow: none;
            }
            
            .form-check-input:checked {
              background-color: $green-color;
              border-color: $green-color;
            }
            .form-check-input:focus {
              border-color: $border-color;
            }

            label {
              color: $dark-color;
              font-size: 0.875rem;
              font-weight: 400;
            }
          }

          .productButtons {

            button {
              width: 8.75rem;
              height: 3rem;
              border-radius: 0.25rem;
              font-size: 1rem;
              font-weight: 600;
            }
            #add-to-cart {
              background-color: $green-color;
              color: $white-color;
              margin-right: 0.5rem;
            }
            #add-to-cart:hover {
              background-color: $white-color;
              color: $green-color;
              border: 1px solid $border-color;
            }
            #contact-us {
              background-color: $white-color;
              color: $green-color;
              border: 1px solid $border-color;
            }
            #contact-us:hover {
              background-color: $green-color;
              color: $white-color;
            }

            .modal {

              .modal-header {
                border: none;

                h1 {
                  color: $dark-color;
                  font-size: 1.5rem;
                  font-weight: 600;
                }

                button {
                  width: fit-content;
                  height: fit-content;
                  margin-right: 0.5rem;
                }
                button:focus {
                  box-shadow: none;
                }
              }

              .modal-body {
                padding: 0 1rem;

                p {
                  color: $dark-color;
                  font-size: 1rem;
                  font-weight: 400;
                  padding: 0 0 1.5rem 0;
                }

                input {
                  background-color: $light-color;
                  border-radius: 0.25rem 0.25rem 0 0;
                  border: none;
                  width: 100%;
                  height: 3.5rem;
                  color: $dark-color;
                  font-size: 1rem;
                  font-weight: 400;
                }
                input:focus {
                  box-shadow: none;
                }

                textarea {
                  width: 100%;
                  height: 8rem;
                  background-color: $light-color;
                  border-radius: 0.25rem 0.25rem 0 0;
                  border: none;
                  color: $dark-color;
                  font-size: 1rem;
                  font-weight: 400;
                  margin-top: 1rem;
                }
                textarea:focus {
                  box-shadow: none;
                }
              }

              .modal-footer {
                border: none;

                .btn-secondary {
                  background-color: $white-color;
                  color: $orange-color;
                  font-size: 1rem;
                  font-weight: 600;
                  border: none;
                  padding: 0;
                }

                .btn-primary {
                  background-color: $orange-color;
                  border: none;
                  font-size: 1rem;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }

      .productLinks {
        padding-top: 1.5rem;

        a {
          color: $dark-color;
          font-size: 1rem;
          font-weight: 600;
          text-decoration: none;
          padding-right: 2rem;
        }
      }
    }

    .productDescription {
      padding: 3.75rem 6.875rem;
      display: flex;
      justify-content: space-between;

      .descriptionWrapper {
        max-width: 30.5rem;

        h5 {
          color: $dark-color;
          font-size: 1.75rem;
          font-weight: 600;
          margin: 0;
        }

        p {
          color: $dark-color;
          font-size: 1rem;
          font-weight: 400;
          padding: 2rem 0;
          margin: 0;
        }

        button {
          width: 8.75rem;
          height: 3rem;
          border-radius: 0.25rem;
          font-size: 1rem;
          font-weight: 600;
          border: 1px solid $border-color;
          background-color: $white-color;
          color: $orange-color;
        }
        button:hover {
          background-color: $orange-color;
          color: $white-color;
        }
      }

      .imageWrapper {
        width: 45%;

        img {
          width: 100%;
        }
      }

      @media screen and (min-width: 1920px) {
        .descriptionWrapper {
          max-width: 40rem;
        }
      }
    }

    .productSpecifications {
      padding: 3.75rem 6.875rem;
      background-color: $light-color;

      h5 {
        color: $dark-color;
        font-size: 1.75rem;
        font-weight: 600;
        padding-bottom: 2rem;
      }
      
      table {
        width: 100%;

        tr:nth-child(even) {
          background: $white-color;
        }

        th {
          color: $orange-color;
          font-size: 1rem;
          font-weight: 600;
          padding: 0.5rem 1.5rem;
        }

        td {
          color: $dark-color;
          font-size: 1rem;
          font-weight: 400;
          padding: 0.5rem 1.5rem;
        }
      }
    }

    @media screen and (max-width: $breakpoint-phone) {
      nav {
        padding: 1rem 1.5rem;
      }

      .productWrapper {
        padding: 0 1.5rem;

        .productHead {
          flex-direction: column;
          padding-bottom: 1.5rem;

          h3 {
            font-size: 1.75rem;
            margin: 0;
          }

          .productActions {
            justify-content: flex-end;
            align-items: flex-start;
            margin-top: -2rem;
          }
        }

        .productInfo {
          flex-direction: column;

          .productImages {
            width: 100%;
            margin-bottom: 1rem;

            .carousel-arrow {
              width: 3rem !important;
              height: 3rem !important;
            }
          }

          .productDetails {
            width: 100%;
            padding: 1.5rem;

            .productDropdowns {
              flex-direction: column;

              a {
                width: 100% !important;
              }

              .dropdown-menu {
                width: 100% !important;
              }

              #dropdown2 {
                margin-top: 1rem;
              }
            }

            .productButtons {

              #add-to-cart:hover {
                background-color: $green-color;
                color: $white-color;
              }
              #contact-us:hover {
                background-color: $white-color;
                color: $green-color;
              }

              .modal-dialog {
                margin: 0.5rem 1.5rem;
              }
            }
          }
        }

        .productLinks {
          display: flex;
          justify-content: space-between;

          a {
            padding-right: 0;
          }
        }
      }

      .productDescription {
        padding: 2rem 1.5rem;
        flex-direction: column-reverse;

        .descriptionWrapper {
          max-width: 100%;

          h5 {
            padding-top: 1.5rem;
          }
        }

        .imageWrapper {
          width: 100%;
        }
      }

      .productSpecifications {
        padding: 2rem 1.5rem;
        overflow-y: scroll;
      }
    }
  }
}