.wrapper .navbarWrapper .navbar {
  background-color: #FE5E41 !important;
  padding: 0;
}
.wrapper .navbarWrapper .navbar .container-fluid {
  padding: 0;
}
.wrapper .navbarWrapper .navbar .container-fluid .navbar-toggler {
  border: none;
  color: #FFF;
}
.wrapper .navbarWrapper .navbar .container-fluid .navbar-toggler:focus {
  box-shadow: none;
}
.wrapper .navbarWrapper .navbar .container-fluid .navbar-brand {
  padding: 2.5rem 3.75rem 2.5rem 6.875rem;
  margin: 0;
}
.wrapper .navbarWrapper .navbar .container-fluid .navbar-brand img {
  max-width: 9.375rem;
  max-height: 2.5rem;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbar-collapse .navbar-nav {
  margin-right: 2.5rem !important;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbar-collapse .navbar-nav .nav-link {
  color: #FFF;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1.25rem;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbar-collapse .navbar-nav .nav-link:hover {
  color: #000;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbar-collapse .navbar-nav .nav-link.active {
  color: #000;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbar-collapse .input-group {
  max-width: 16rem;
  max-height: 3.5rem;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbar-collapse .input-group input {
  border: none;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0;
  background-color: #F2F2F2;
  padding: 1rem;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbar-collapse .input-group input:focus {
  box-shadow: none;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbar-collapse .input-group span {
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0;
  background-color: #F2F2F2;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbarButtonsWrapper {
  display: flex;
  align-items: center;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbarButtonsWrapper .navbarButtons {
  padding-right: 6.875rem;
  display: flex;
  align-items: center;
}
.wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbarButtonsWrapper .navbarButtons a {
  padding: 0.75rem;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .wrapper .navbarWrapper .navbar .container-fluid {
    justify-content: flex-start;
  }
  .wrapper .navbarWrapper .navbar .container-fluid .navbar-toggler {
    padding-left: 1.5rem;
    z-index: 999;
  }
  .wrapper .navbarWrapper .navbar .container-fluid .navbar-brand {
    padding: 1.25rem 3.5rem 1.25rem 1rem;
  }
  .wrapper .navbarWrapper .navbar .container-fluid .navbar-brand img {
    max-width: 6.25rem;
    max-height: 1.75rem;
  }
  .wrapper .navbarWrapper .navbar .container-fluid .input-group {
    max-width: 100% !important;
    margin: 0 1rem;
  }
  .wrapper .navbarWrapper .navbar .container-fluid .navWrap {
    flex-direction: column;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  .wrapper .navbarWrapper .navbar .container-fluid .navWrap .nav-link:hover {
    color: #FFF !important;
  }
  .wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbarButtonsWrapper {
    display: flex;
    justify-content: flex-end;
  }
  .wrapper .navbarWrapper .navbar .container-fluid .navWrap .navbarButtonsWrapper .navbarButtons {
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -4.2rem;
  }
}
@media screen and (min-width: 1920px) {
  .wrapper .navbarWrapper .navbar .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }
  .wrapper .navbarWrapper .navbar .navbar-collapse form {
    margin-right: 5rem;
  }
}
.wrapper .contentWrapper nav {
  padding: 2.5rem 6.875rem 1rem 6.875rem;
}
.wrapper .contentWrapper nav ol {
  margin: 0;
}
.wrapper .contentWrapper nav ol a {
  color: #1E1E1E;
  text-decoration: none;
  font-size: 0.813rem;
  font-weight: 400;
}
.wrapper .contentWrapper .productWrapper {
  padding: 0 6.875rem;
}
.wrapper .contentWrapper .productWrapper .productHead {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.125rem;
}
.wrapper .contentWrapper .productWrapper .productHead h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1E1E1E;
}
.wrapper .contentWrapper .productWrapper .productHead .productActions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .contentWrapper .productWrapper .productHead .productActions img {
  padding: 0.625rem;
}
.wrapper .contentWrapper .productWrapper .productInfo {
  display: flex;
  justify-content: space-between;
}
.wrapper .contentWrapper .productWrapper .productInfo .productImages {
  width: 58%;
}
.wrapper .contentWrapper .productWrapper .productInfo .productImages button {
  width: 3.5rem;
}
.wrapper .contentWrapper .productWrapper .productInfo .productImages button .carousel-arrow {
  width: 3.5rem;
  height: 3.5rem;
  background-color: #F2F2F2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails {
  background-color: #F2F2F2;
  width: 40%;
  padding: 2rem;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails h4 {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails h4 span {
  color: #FE5E41;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails p {
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem 0;
  margin: 0;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns {
  display: flex;
  justify-content: space-between;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns .dropdown {
  width: 100%;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns .dropdown a {
  width: 95%;
  height: 3.5rem;
  background-color: #FFF;
  color: #1E1E1E;
  border-radius: 0.25rem 0.25rem 0px 0px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns .dropdown .dropdown-menu {
  width: 95%;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns .dropdown .dropdown-menu a:hover {
  color: #FFF;
  background-color: #00A878;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns #dropdown2 {
  display: flex;
  justify-content: flex-end;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productOptions {
  padding: 1.5rem 0;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productOptions .form-check-input {
  box-shadow: none;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productOptions .form-check-input:checked {
  background-color: #00A878;
  border-color: #00A878;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productOptions .form-check-input:focus {
  border-color: #DEDEDE;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productOptions label {
  color: #1E1E1E;
  font-size: 0.875rem;
  font-weight: 400;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons {
  display: flex;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons button {
  width: 8.75rem;
  height: 3rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons #add-to-cart {
  background-color: #00A878;
  color: #FFF;
  margin-right: 0.5rem;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons #add-to-cart:hover {
  background-color: #FFF;
  color: #00A878;
  border: 1px solid #DEDEDE;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons #contact-us {
  background-color: #FFF;
  color: #00A878;
  border: 1px solid #DEDEDE;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons #contact-us:hover {
  background-color: #00A878;
  color: #FFF;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-header {
  border: none;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-header h1 {
  color: #1E1E1E;
  font-size: 1.5rem;
  font-weight: 600;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-header button {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 0.5rem;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-header button:focus {
  box-shadow: none;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-body {
  padding: 0 1rem;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-body p {
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: 400;
  padding: 0 0 1.5rem 0;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-body input {
  background-color: #F2F2F2;
  border-radius: 0.25rem 0.25rem 0 0;
  border: none;
  width: 100%;
  height: 3.5rem;
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: 400;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-body input:focus {
  box-shadow: none;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-body textarea {
  width: 100%;
  height: 8rem;
  background-color: #F2F2F2;
  border-radius: 0.25rem 0.25rem 0 0;
  border: none;
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-body textarea:focus {
  box-shadow: none;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-footer {
  border: none;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-footer .btn-secondary {
  background-color: #FFF;
  color: #FE5E41;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  padding: 0;
}
.wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal .modal-footer .btn-primary {
  background-color: #FE5E41;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
.wrapper .contentWrapper .productWrapper .productLinks {
  padding-top: 1.5rem;
}
.wrapper .contentWrapper .productWrapper .productLinks a {
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  padding-right: 2rem;
}
.wrapper .contentWrapper .productDescription {
  padding: 3.75rem 6.875rem;
  display: flex;
  justify-content: space-between;
}
.wrapper .contentWrapper .productDescription .descriptionWrapper {
  max-width: 30.5rem;
}
.wrapper .contentWrapper .productDescription .descriptionWrapper h5 {
  color: #1E1E1E;
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
}
.wrapper .contentWrapper .productDescription .descriptionWrapper p {
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: 400;
  padding: 2rem 0;
  margin: 0;
}
.wrapper .contentWrapper .productDescription .descriptionWrapper button {
  width: 8.75rem;
  height: 3rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid #DEDEDE;
  background-color: #FFF;
  color: #FE5E41;
}
.wrapper .contentWrapper .productDescription .descriptionWrapper button:hover {
  background-color: #FE5E41;
  color: #FFF;
}
.wrapper .contentWrapper .productDescription .imageWrapper {
  width: 45%;
}
.wrapper .contentWrapper .productDescription .imageWrapper img {
  width: 100%;
}
@media screen and (min-width: 1920px) {
  .wrapper .contentWrapper .productDescription .descriptionWrapper {
    max-width: 40rem;
  }
}
.wrapper .contentWrapper .productSpecifications {
  padding: 3.75rem 6.875rem;
  background-color: #F2F2F2;
}
.wrapper .contentWrapper .productSpecifications h5 {
  color: #1E1E1E;
  font-size: 1.75rem;
  font-weight: 600;
  padding-bottom: 2rem;
}
.wrapper .contentWrapper .productSpecifications table {
  width: 100%;
}
.wrapper .contentWrapper .productSpecifications table tr:nth-child(even) {
  background: #FFF;
}
.wrapper .contentWrapper .productSpecifications table th {
  color: #FE5E41;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
}
.wrapper .contentWrapper .productSpecifications table td {
  color: #1E1E1E;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
}
@media screen and (max-width: 767px) {
  .wrapper .contentWrapper nav {
    padding: 1rem 1.5rem;
  }
  .wrapper .contentWrapper .productWrapper {
    padding: 0 1.5rem;
  }
  .wrapper .contentWrapper .productWrapper .productHead {
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .wrapper .contentWrapper .productWrapper .productHead h3 {
    font-size: 1.75rem;
    margin: 0;
  }
  .wrapper .contentWrapper .productWrapper .productHead .productActions {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .wrapper .contentWrapper .productWrapper .productInfo {
    flex-direction: column;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productImages {
    width: 100%;
    margin-bottom: 1rem;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productImages .carousel-arrow {
    width: 3rem !important;
    height: 3rem !important;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails {
    width: 100%;
    padding: 1.5rem;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns {
    flex-direction: column;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns a {
    width: 100% !important;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns .dropdown-menu {
    width: 100% !important;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productDropdowns #dropdown2 {
    margin-top: 1rem;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons {
    justify-content: space-between;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons button {
    width: 47%;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons #add-to-cart {
    width: 49% !important;
    margin-right: 0 !important;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons #add-to-cart:hover {
    background-color: #00A878;
    color: #FFF;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons #contact-us {
    width: 49% !important;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons #contact-us:hover {
    background-color: #FFF;
    color: #00A878;
  }
  .wrapper .contentWrapper .productWrapper .productInfo .productDetails .productButtons .modal-dialog {
    margin: 0.5rem 1.5rem;
  }
  .wrapper .contentWrapper .productWrapper .productLinks {
    display: flex;
    justify-content: space-between;
  }
  .wrapper .contentWrapper .productWrapper .productLinks a {
    padding-right: 0;
  }
  .wrapper .contentWrapper .productDescription {
    padding: 2rem 1.5rem;
    flex-direction: column-reverse;
  }
  .wrapper .contentWrapper .productDescription .descriptionWrapper {
    max-width: 100%;
  }
  .wrapper .contentWrapper .productDescription .descriptionWrapper h5 {
    padding-top: 1.5rem;
  }
  .wrapper .contentWrapper .productDescription .imageWrapper {
    width: 100%;
  }
  .wrapper .contentWrapper .productSpecifications {
    padding: 2rem 1.5rem;
    overflow-y: scroll;
  }
}/*# sourceMappingURL=style.css.map */